importFrom("stats", "model.matrix", "p.adjust", "pnorm", "pt", "qnorm")
export(calcfit2Diffrep)
export(directEScombi)
export(directpvalcombi)
export(effectsize)
export(EScombination.paired)
export(EScombination)
export(IDDIRR)
export(pvalcombination.paired)
export(pvalcombination)
export(row.ttest.stat)
export(row.ttest.statp)
export(rowVars)
import(SMVar)
import(limma)
